<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Worker Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" asp-append-version="true" type="text/css" media="screen" href="~/assets/bootstrap-5.02  />
    <link rel="stylesheet" asp-append-version="true" type="text/css" media="screen" href="~/assets/css/plugins.css" />
    <link rel="stylesheet" asp-append-version="true" type="text/css" media="screen" href="~/assets/css/main.css" />

    @RenderSection("style", required: false)
</head>
<body>

    @RenderBody();

    <script src="~/assets/js/plugins.js" asp-append-version="true"></script>
    <script src="~/assets/js/ajax-mail.js" asp-append-version="true"></script>
    <script src="~/assets/js/custom.js" asp-append-version="true"></script>

    @RenderSection("script", required: false)
</body>
</html>