@model EmployeeManagement.ViewModels.Employee.AddViewModel

<div class="container">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="Employee-list" target="_blank" class="btn btn-secondary">Employees</a>
        </div>
    </div>
    <form method="POST" asp-route="Employee-add">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label asp-for="FatherName"></label>
            <input asp-for="FatherName" class="form-control">
            <span asp-validation-for="FatherName" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FIN"></label>
            <input asp-for="FIN" class="form-control">
            <span asp-validation-for="FIN" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>